<?xml version='1.0' encoding='utf-8'?>
<widget id="com.myerrand.app" version="1.0.0" android-versionCode="10000"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android">
  <name>My Errand App</name>
  <description>Manage errands, payments, and deliveries on the go.</description>
  <author email="support@myerrand.app" href="https://myerrand.app">My Errand App Team</author>

  <content src="index.html" />

  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <allow-navigation href="*" />

  <preference name="Orientation" value="portrait" />
  <preference name="Fullscreen" value="false" />
  <preference name="BackgroundColor" value="0xffffffff" />
  <preference name="SplashMaintainAspectRatio" value="true" />
  <preference name="SplashShowOnlyFirstTime" value="false" />
  <preference name="AutoHideSplashScreen" value="true" />
  <preference name="FadeSplashScreenDuration" value="300" />
  <preference name="ShowSplashScreenSpinner" value="false" />
  <preference name="StatusBarOverlaysWebView" value="false" />
  <preference name="StatusBarBackgroundColor" value="#1f6feb" />
  <preference name="StatusBarStyle" value="lightcontent" />
  <preference name="AndroidInsecureFileModeEnabled" value="true" />
  <preference name="AndroidXEnabled" value="true" />
  <preference name="GradlePluginKotlinEnabled" value="true" />
  <preference name="android-minSdkVersion" value="24" />
  <preference name="android-targetSdkVersion" value="34" />
  <preference name="android-compileSdkVersion" value="34" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="KeepRunning" value="true" />

  <platform name="android">
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/favicon.ico" />
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
      <application android:usesCleartextTraffic="true" />
    </edit-config>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    </config-file>
  </platform>

  <plugin name="cordova-plugin-statusbar" spec="^4.0.0" />
  <plugin name="cordova-plugin-dialogs" spec="^2.0.2" />
  <plugin name="cordova-plugin-inappbrowser" spec="^7.0.0" />
  <plugin name="cordova-plugin-network-information" spec="^3.0.0" />
</widget>
